body {
  background-color: white;
}

h1 {
  color: #007AB5;
}

h3 {
  color: #007AB5;  
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
}
